<div id="tagosago_container">
	<!--
	VIN: <div id="vincode"></div>
	<div id="tagosagoru_err"></div>
	Templates:
	<div id="tagosago_wrap_tpl"></div>
	Textarea:

	<div id="tag_osago__multiple-select"></div>

	{{button}} -->

	{{diagbutton}}

	<div id="to_list"></div>
</div>